*.aux
*.bbl
*.blg
*.log
*.gz
Synopsis/synopsis.pdf

.DS_Store
._.DS_Store

Data_dicts/*
Data_1/*
Data/*
*/.texpadtmp/*
Written work/Article/.texpadtmp/*
*.texpadtmp/*
Report/.*
Report/.texpadtmp/report.synctex.gz
Code/__pycache__/*
Code/__pycache__/*
Code/__pycache__/utils*
Code/.*
Code/.ipynb_checkpoints/*
Code/__pycache__/utils_s160159*
Code/logs/*
*.pyc
Code/models/*
Code/pics/*
tensorflow-cpu*

